@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container IndexDiv">
<div class="row">
    <div class="col-3 container CenteredContainer text-center">
        <section>
            <form id="account" method="post">
                <h5>HOŞ GELDİNİZ</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="Emil" />
                </div>

                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Şifre " />
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" style="width:auto;"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                  
                    <input id="login-submit" type="submit" class=" btn btn-danger text-white" value="giriş yap"></input>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">şifreniz unutunuz mu??</a>
                    </p>
                   
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>