@{
    ViewData["Title"] = "Home Page";
}



<div class="IndexDiv">
    <p> <h1 class="text-center font-weight-bolder">Alışveriş Sepeti</h1></p>

    <div class=" eee row m-2">
       
      
      
            
                <img src="~/images/shoppingcart2.png" class="sss  img-fluid" />

        <img src="~/images/shoppingcart3.png" class="sss  img-fluid" />

                <img src="~/images/shoppingcart.png" class="sss  img-fluid" />


      
    </div>

</div>


